/*===============
  global styles
===============*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: content-box;
}
 
html {
  scroll-behavior: smooth;
}



body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background: url('PXL_20231115_094428093.MP~2.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-overlay);
  /* opacity: 0.7; */
  z-index: -1;
}

.top-left-image {
  position: absolute;
  top: 4.5em;
  left: 1.8em;
  max-width: 150px; /* Adjust the size as needed */
  height: auto;
  z-index: 10; /* Ensure it's above other elements */
  box-shadow: var(--shadow);
  border: .2;
}




:root {
  --background-image-light: url('light_abstract_1.png');
  --background-image-dark: url('dark_abstract_1.png');
}

.light {
  --clr-bg: #c4206a;
  --clr-bg-alt: #276041;
  --clr-fg: #013e1d;
  --clr-fg-alt: #c4206a;
  --clr-primary: #003217;
  --shadow: rgba(0, 0, 0, 0.5) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.3) 0px 0px 0px 1px;
  --clr-overlay: #ffffffb9;
  --proj-bgd: rgba(177, 170, 158, 0);
  --clr-boxes: #276041a5;
}

.dark {
  --clr-bg: #463f3a;
  --clr-bg-alt: #968e81;
  --clr-fg: #e1dfd6;
  --clr-fg-alt: #57cc99;
  --clr-primary: #e1dfd6;
  --shadow: #51504b42 0px 10px 36px 0px,
    #51504b42 0px 0px 0px 1px;
  --clr-overlay: rgba(6, 0, 5, 0.63);
  --proj-bgd: rgba(177, 170, 158, 0);
  --clr-boxes: #b1aa9e94;
}

body {
  background-image: var(--background-image-light); /* Default background image */
}

.dark {
  --background-image-light: var(--background-image-dark); /* Background image for dark theme */
}


::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

::-webkit-selection,
::selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}

/*===================
  buttons and links
===================*/

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
  font-size: 1.7rem;
}

.btn {
  display: block;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  margin-top: 1em;
}

.btn--outline:focus,
.btn--outline:hover {
  color: var(--clr-bg);
}

.btn--outline:before {
  content: "";
  position: absolute;
  background-color: var(--clr-bg-alt);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover::before,
.btn--outline:focus::before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-boxes);
  box-shadow: var(--shadow);
}

/* .btn--plain:hover {
  /* transform: translateY(-4px); */
/* } */ 

.btn--icon {
  padding: 0;
  font-size: 1.2rem;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

/*========
  layout
========*/

.center {
  display: flex;
  align-items: center;
}

.header {
  height: 8em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

/* Project pages
 */
.header-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
  gap: 20px; /* Space between buttons */
  margin-right: 1.5em;
  margin-left: 1.5em;
  font-size: 1.9rem;
  padding: 0 0 0.3em 0;
}

.home-link {
  text-decoration: none;
  color: inherit; /* Or a specific color */
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding: 0 0 0.3em 0;
  /* display: block; */
  /* padding: 0.8em 1.4em; */
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
}
/* 
 */


main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 8em;
}

.section__title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}

.nav__hamburger {
  display: none;
  width: 1em;
}

.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__intro {
  color: var(--clr-primary);
}

.about__name {
  color: var(--clr-fg-alt);
}

.about__role {
  margin-top: 1.2em;
  font-size: 1.3rem;
  color: var(--clr-bg-alt); 
}

.about__desc {
  font-size: 1.1rem;
  max-width: 600px;
  /* column-count: 2; Create two columns */
  /* column-gap: 23px; */
  text-align: justify;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.projects__grid {
  max-width: 400px; /* Adjust as needed */
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 67%));
  gap: 5%;
  justify-content: center;
}


.project {
  padding: 2em;
  margin: 2 auto;
  border-radius: 15px;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}


.project:hover {
  transform: translateY(-7px);
  background-color: var(--clr-overlay);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.project-link {
  display: inline-block;
  text-decoration: none; 
  color: inherit; 
}

.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 2em auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
}

.skills__list-item {
  margin: 0.6em;
  border-radius: 10px;
}

.contact {
  flex-direction: column;
}

.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-fg);
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .about__desc {
    column-count: 1;
  }
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }

  .section {
    margin-top: 4em;
  }

  .nav__list {
    flex-direction: column;
    padding: 4em 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 5em;
    background-color: var(--clr-bg);
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
  }

  .display-nav-list {
    width: 100%;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .nav__hamburger {
    display: flex;
    margin-left: 0.8em;
  }

  .about {
    align-items: flex-start;
    margin-top: 2em;
  }

  .footer {
    padding: 2em;
    margin-top: 3em;
  }

  .scroll-container {
    display: none;
  }
}

.share {
  position: fixed; /* Or 'sticky' if you prefer */
  top: 50%; /* Adjust as needed */
  right: 0; /* Place on the right side of the page */
  transform: translateY(-50%); /* Center vertically */
  z-index: 1000; /* Ensure it's above other elements */
}

.a2a_kit {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the icons horizontally */
  justify-content: center; /* Center the icons vertically, if needed */
}

.a2a_kit a {
  margin-bottom: 15px;
  font-size: 5px; /* Adjust the size as needed */
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  display: inline-block;
}

.a2a_kit a img {
  max-width: 30%;
  height: auto;
}





/*========
  Project pages
========*/


.project-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  margin-top: 1.5em;
  text-align: center;
}

.project-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;
  box-shadow: var(--shadow);
}

.project-section {
  /* max-width: 800px; */
  padding: 1em;
  text-align: center;
  max-width: 90%; 
  width: 100%; /* Set width to 100% of the parent container */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .project-section {
    max-width: 100%; /* Full width on smaller screens */
  }
}

.project-subtitle {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  margin-top: 2.5em;
  text-align: center;
  color: var(--clr-bg-alt);
}

.proj_overview{
  margin-top: 1.2em;
  font-size: 1.2rem;
  color: var(--clr-bg-alt);
}

.Project_content-container {
  display: flex;
  align-items: flex-start; /* Adjust if you want the text to align at the top */
  justify-content: space-between; /* Space between the text and image */
  flex-wrap: wrap; /* Wrap items on smaller screens */
  max-width: 900px; /* Match width with other text boxes */
  margin: auto; /* Center the container */
}

.about__desc_proj_2col {
  font-size: 1rem;
  max-width: calc(100% - 420px); /* Reduce max-width to give less space for text */
  color: var(--clr-primary);
  text-align: justify;
  flex: 1; /* Allows the text to fill available space */
  margin-right: 20px; /* Maintain space between the text and the image */
  column-count: 1; /* Create two columns */
  column-gap: 35px;
}

.about__desc_proj {
  font-size: 1rem;
  max-width: 900px; /* Adjust based on your layout needs */
  color: var(--clr-primary);
  text-align: justify;
  flex: 3; /* Allows the text to take more space */
  margin-right: 20px; /* Space between the text and the image */
  column-count: 3; /* Create two columns */
  column-gap: 35px;
}

.project-image_inline {
  /* flex-basis: 350px; Base width for the image */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent overflow */
  width: 500px; /* Fixed width, adjust as needed */
  order: 2; /* Ensures image is on the right */
  margin-left: 25px; 
  flex-basis: calc(500px + 25px); /* Increase flex-basis to give more space to the image */
  flex: 2;
}

.figure_desc {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  margin-top: 1.5em;
  text-align: left;
  color: var(--clr-fg-alt);
  font-size: .8rem;
}

.figure_desc_inline {
  /* max-width: 500px; */
  margin: 0 auto;
  padding: 1em;
  margin-top: 1.5em;
  text-align: left;
  color: var(--clr-fg-alt);
  font-size: .8rem;

  /* text-align: justify; If you want the text justified */
  max-width: 400px; /* Match the width of the image or adjust as needed */
  margin-left: auto; /* Center the description under the image */
  margin-right: auto; /* Center the description under the image */
}

.image-container {
  flex-basis: 500px; /* Adjust based on image width */
  order: 2; /* Ensure it's placed on the right */
  text-align: center; /* Center the content if needed */
  flex: 2;
}



@media (max-width: 768px) {
  .Project_content-container {
    flex-direction: column;
    max-width: 100%; /* Allow container to expand */
  }

  .about__desc_proj, .project-image_inline {
    max-width: 100%; /* Full width for smaller screens */
    flex-basis: auto; /* Reset flex-basis for stacking */
    order: unset; /* Reset order */
    margin-right: 0; /* Remove margin-right */
  }

  .project-image_inline {
    margin-top: 20px; /* Space above the image when stacked */
    margin-left: 0; /* Reset margin-left */
  }
}
